$height: 100px;
$offset: 50px;

.line-chart-widget-1 {
  position: relative;
  height: $height;
  overflow: hidden;

  .text-widget-1 {
    z-index: 2;
  }

  .ct-chart {
    position: absolute;
    top: $offset;
    left: 0;
    height: $height - $offset;
    z-index: 1;
  }
}
