.email-inbox {
  .inbox-header {
    h3 {
      margin-bottom: 20px;
    }
  }

  .inbox-table {
    .subject {
      text-transform: capitalize;
    }

    .table {
      tr {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:nth-child(1) {
        position: relative;
      }

      td {
        img {
          border: 2px solid #fff;

          @include box-shadow;
        }
      }
    }
  }

  .email-contact {
    margin-right: 10px;
  }
}
