.activity-widget-7 {
  .title {
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 500;
  }

  .progress {
    margin-top: 10px;
  }
}
