@import "../variables";
$colors: map-merge(map-merge($colors, $bootstrap-colors), $social-media-colors);

@each $key, $value in $colors {
  .border-color-#{$key} {
    color: $value !important;
  }

  .border-color-hover-#{$key} {
    &:hover,
    &:active,
    &:focus {
      color: $value !important;
    }
  }
}
