.icon-widget-1 {
  width: 100%;
  font-size: 16px;

  .row {
    height: 60px;

    div:nth-child(1) {
      text-align: right;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }
}

.icon-widget-4 {
  width: 100%;
  font-size: 16px;

  .row {
    height: 60px;

    div:nth-child(1) {
      text-align: right;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }
}

.icon-widget-5 {
  width: 100%;
  font-size: 16px;

  .row {
    height: 60px;

    div:nth-child(1) {
      text-align: right;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }
}

.icon-widget-6 {
  width: 100%;
  font-size: 16px;

  .row {
    height: 60px;

    div:nth-child(1) {
      text-align: right;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }
}

.icon-widget-7 {
  width: 100%;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;

  .row {
    height: 50px;

    div:nth-child(1) {
      text-align: right;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }
}

.icon-widget-8 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }
}

.icon-widget-9 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }
}

.icon-widget-10 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }
}

.icon-widget-11 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 18px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
  }
}

.icon-widget-12 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 28px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
    border: none !important;
  }
}

.icon-widget-13 {
  width: 100%;
  font-size: 16px;
  padding: 10px;

  .row {
    height: 60px;

    > div:nth-child(1) {
      text-align: left;
    }

    > div:nth-child(2) {
      text-align: right;
    }
  }

  i {
    font-size: 28px;
    font-weight: 700;
  }

  .number {
    font-size: 28px;
  }

  .text {
    font-size: 14px;
    margin-top: -5px;
    white-space: nowrap;
  }

  .btn {
    cursor: none;
    pointer-events: none;
    border: none !important;
  }
}
