@import "../variables";
@import "../mixins";
@import "left-sidebar";

.left-sidebar {
  &.left-sidebar-3 {
    .section-title {
      [data-collapsed="true"] & {
        display: none;
      }
    }

    .btn-sidebar-1 {
      position: relative;
      text-transform: capitalize;

      &.has-children {
        &:before {
          font-family: 'simple-line-icons';
          content: "\e606";
          position: absolute;
          top: 17px;
          right: $side-margin;

          @include font-size(10px);
          transition: transform 0.3s ease;

          [data-collapsed="true"] & {
            display: none;
          }
        }
      }

      [data-collapsed="true"] & {
        height: 60px;
        justify-content: center;
        flex-direction: column;
        width: $left-sidebar-collapsed-width;

        .separator {
          display: none;
        }
      }

      i {
        [data-collapsed="true"] & {
          margin: 0;
          font-size: 18px;
        }
      }

      .title {
        [data-collapsed="true"] & {
          display: none;
        }
      }

      .badge {
        [data-collapsed="true"] & {
          position: absolute;
          top: 5px;
          right: 5px;
        }

        &.badge-pill {
          [data-collapsed="true"] & {
            display: none;
          }
        }
      }
    }

    .btn-sidebar-2 {
      text-transform: capitalize;
    }

    .section {
      .section-title {
        font-weight: 700;
        //display: none;
      }

      ul {
        > li {
          position: relative;

          > ul {
            //display: none;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: $zindex-navbar-fixed + 3;
            width: $left-sidebar-width;
            pointer-events: none;
            opacity: 0;

            > li {
              i {
                visibility: hidden;
                display: none;
              }
            }
          }

          &:hover {
            > ul {
              //display: block;
              @include box-shadow;
              pointer-events: auto;
              opacity: 1;
              width: 600px;
              display: flex;
              flex-wrap: wrap;
              flex-direction: row;
              justify-content: flex-start;

              > li {
                width: 200px;
                flex: 0 0 200px;
              }
            }
          }
        }
      }
    }
  }
}

@each $key, $value in $default-palette {
  [data-sidebar="#{$key}"] {
    .left-sidebar {
      &.left-sidebar-3 {
        background: map-get($value, "background-color");
        color: map-get($value, "color");

        .section > ul > li:hover > .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, "highlight-color") !important;
          color: #fff !important;
        }

        .section > ul > li:hover > ul {
          background: map-get($value, "background-color") !important;
          color: map-get($value, "color") !important;
        }

        .btn-default.btn-flat.btn-sidebar {
          background: map-get($value, "background-color") !important;
          color: map-get($value, "color") !important;
          transition: none !important;

          &:active,
          &:focus,
          &:visited,
          &.focus {
            background: map-get($value, "background-color") !important;
            color: map-get($value, "color") !important;
          }

          &:hover {
            background: map-get($value, "highlight-color") !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}

//$colors: (1: 'primary', 2: 'secondary', 3: 'info', 4: 'success', 5: 'warning', 6: 'danger');
//
//@each $key, $value in $default-palette {
//  [data-sidebar="#{$key}"] {
//    .left-sidebar {
//      &.left-sidebar-3 {
//
//				.section ul li {
//					@each $key, $value in $colors {
//						&:nth-child(#{$key}) {
//							i {
//								color: map-get($bootstrap-colors, $value)
//							}
//							&:hover {
//								i {
//									color: #fff !important;
//								}
//							}
//						}
//					}
//				}
//      }
//    }
//  }
//}
