@import "../variables";
@import "../palettes";

.poll-widget-2 {
  width: 100%;
  position: relative;
  color: #fff;

  .list-unstyled {
    margin: 0;
    padding: 0;
    border: 0;

    li {
      font-size: 13px;
      height: 30px;
      line-height: 30px;
      font-weight: 700;
      overflow: hidden;

      .title {
        padding: 0 10px;
      }
    }
  }
}
