@import "../variables";
@import "../palettes";
@import "../mixins";

@mixin avatar($size) {
  &.avatar-#{$size} {
    height: #{$size}px;
    width: #{$size}px;
    position: relative;

    .badge {
      position: absolute;
      z-index: 2;
      top: -1px;
      left: calc(#{$size}px * 0.66);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      border-width: 0;
      transform: scale(0.75);
      font-weight: 700;

      @include box-shadow;

      &.badge-outline {
        background: #fff;
      }
    }

    .rounded-circle {
      z-index: 1;
      max-width: #{$size}px;
      width: #{$size}px;
      border: 2px solid #fff;

      @include box-shadow;
    }
  }
}

.avatar {
  @include avatar(30);

  @include avatar(40);

  @include avatar(50);

  @include avatar(60);

  @include avatar(70);

  @include avatar(80);

  @include avatar(90);

  @include avatar(100);

  &.avatar-no-shadow {
    .rounded-circle {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    .badge {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

.avatar-demos {
  .avatar {
    float: left;
    display: block;
    margin-right: 10px;
  }
}
