[data-layout="empty-view-5"] {
  position: relative;
  -ms-overflow-style: none;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }

  .container-fluid {
    display: flex;
    height: calc(100%);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  html & {
    background: url(/assets/images/empty-view-5.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
